@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    background-image: url('../../assets/bricks2.png');
    background-color: black;
}

.banner-body {
    margin: 10em 40vw 10em 0vw;
}

.prj-title {
    background-color: black;
}

.projects-display {
    
}