@tailwind base;
@tailwind components;
@tailwind utilities;

.code-slides {
    width: 70vw;
    margin-top: 5vh;
    height: 40rem;
}

.photography-banner {
    background-image: url('../../assets/camera_lego.png');
    background-size: 50%;
    height:40rem;
    padding-bottom: 50rem;
    
}

.slider {
    height: 40rem;
}

.slider-item-text:hover {
    animation: example;
    animation-duration: 1s;
}

@keyframes example {
    from {height: 8rem;}
    to {height: 9rem;}
  }

  .img-slider {
    height: 50rem;
  }