
@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-comp {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    background-image: url('../../assets/falling_bricks.png');
}

.fcontact-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 10vw;
    width: 75rem;
}

.fcontact-row-1 {
    display: flex;
    flex-direction: row;
    width: 75rem;
    margin: 1vh 0vw;
}

.fcontact-item-field{
    width: 80%;
}

.fcontact-item {
    width: 100rem;
}



.button {
    background-color: aqua;
    color:black;
    text-decoration-style: none;
    width: 50rem;
    border-radius: 20px;
    margin-top: 2rem;
}