@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40em;
}

.am-list-item {
    list-style-type: none;
}