@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.logo {
    background-color: red;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;
    width: 40em;
}

.menu-button {
    padding: 0 3em;
}

.am-list-item {
    list-style-type: none;
}